.App {
  margin: auto;
  margin-top: 4rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  outline: 1px solid #333;
  background: #333
}  

.Input {
  background: lightgray;
  min-height: 1rem;
  padding: 1rem;
}

.Result {
  min-height: 2rem;
  background: lightgrey;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
}

.Button {
  width: 4rem;
  height: 4rem;
  background: dodgerblue;
  border: none;
  outline: 1px solid #333;
}

.Button--large {
  background: orange;
  width: 8rem;
}
